<% @title = "Home" %>

  <div class="center jumbotron">
  <h1>Welcome to the Rails App</h1>
	<%= render 'shared/error_messages' %>
  <h2>
    This is the home page for the Rails and Mongodb application.
  </h2>

  <%= link_to "Sign up now!", signup_path , class: "btn btn-large btn-primary" %>
</div>


